* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Black Ops One", system-ui;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(30, 26, 43);
}

.title {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  color: #ccc;
  text-align: center;
  margin-bottom: 50px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 50px;
}

.key {
  font-size: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(65, 57, 94, 0.384);
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.key::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: inherit;
  z-index: -1;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
}

.playing::after {
  animation: bg-pulse 1s ease-out;
}

@keyframes bg-pulse {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(20);
  }
}

.playing {
  transform: scale(1.1);
}

.key span {
  display: block;
  font-size: 16px;
}
